*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
}

img{
    width: 200px;
    max-width: 300px;
}

.verde{
    color: green;
}

.rosso{
    color: red;
}